.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-content {
  display: flex;
} 

.random {
  width: 600px;
  height: auto;
  margin: 10px;
  padding: 10px;
}

.card {
  height: 100px;
  width: 100px;
}

.container {
  
  background-image: url("https://as01.epimg.net/epik/imagenes/2020/04/22/portada/1587542523_132599_1587544250_noticia_normal.jpg" );
}

.box-container {
  margin: 0 auto;
  padding: 30px;
}

.title {
  height: auto;
  width: 600px;
  background: #e1f757;
  text-align: center;
}